* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Yes, this is usually evil -- but accidental selections are a big problem
   * on the touch screen I'm using. */
  user-select: none;
}

body {
  margin: 0;
  line-height: 1.4;
  text-align: center;
  font-family: Antonio;

  color: #eee;
  background-color: #03688c;
}

.rain {
  background: #6799c7;
  border-radius: 2px;
}

.main-container {
  width: 700px;
  height: 470px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}


.weather-container {}

.left, .right {
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.left {
  float: left;
  width: 40%;
}

.right {
  width: 55%;
}

.weather-desc {
  font-size: 36px;
  text-transform: capitalize;
}

.weather-desc-txt {
  margin: auto, 0, auto, 0;
}

.temp {
  font-size: 36px;
}

.time-now {
  margin: 15px;
  font-size: 60px;
}

.hourly-container {
  display: table;
  width: auto;
}

.hourly {
  display: table-row;
  width: auto;
  height: 55px;
  clear: both;
}

.hourly-txt, .hourly-str, .hourly-img {
  display: table-cell;
  vertical-align: middle;
}

.hourly-txt {
  font-size: 24px;
  width: 35%;
}

.hourly-str {
  font-size: 18px;
  width: 35%;
}

.hourly-img {
  font-size: 24px;
  vertical-align: bottom;
  width: 25%;
}

/* This is phone mode. */
@media(max-width: 699px) {
  .main-container {
    width: 100%;
    display: block;
    position: inherit;
  }
  .hourly-container {
    width: 100%;
  }
  .left, .right {
    width: 100%;
    display: block;
  }
}
