{{define "head"}}
  <title>Local Weather</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ .CssUrl }}">
  <link rel="icon" type="image/png" href="{{.Favicon}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Antonio' rel='stylesheet'>
  <script src="static/jquery-3.5.1.min.js"></script>
{{end}}
