<div class="main-container">
    <div class="left">
        <div class="time-now">
            {{ time }}
        </div>
        <div class="weather-container">
            <div class="temp">
                {{ .temp }}&deg; ({{ .feels_like }}&deg;)
            </div>
        </div>
        <div class="weather-desc">
            <div class="weather-desc-txt">{{ .desc }}</div>
            <img src="https://openweathermap.org/img/wn/{{ w_icon }}@2x.png" alt="Icon for {{ desc }}">
        </div>
    </div>
    <div class="right">
        <div class="hourly-container">
        {% for h in hourly %}
            <div class="hourly">
              <div class="hourly-txt {{ h['rain'] }}">
                {{ h['dt_str'] }}: {{ h['temp'] }}&deg;
              </div>
              <div class="hourly-str">
                {{ h['weather_str'] }}
              </div>
              <div class="hourly-img"><img alt="{{ h['weather_str'] }} icon" src="https://openweathermap.org/img/wn/{{ h['weather_icon'] }}.png"></div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
