<!doctype html>
<html lang="en">
  <head>
    {{ template "head" . }}
    <script language="javascript">
      function should_reload() {
        var params = new URLSearchParams(window.location.search);
        return params.get('reload') !== 'false';
      }
      function load_weather() {
        $.ajax({
          url: "{{.InnerUrl}}",
            success: function (result) {
              $("body").html(result);
            },
        });
        if (should_reload()) {
          setTimeout(load_weather, 30 * 1000);
        }
      }
    </script>
  </head>

  <body onload="load_weather()">
      Loading...
  </body>
</html>
